.project {
  --flex: flex-start;
  --align: start;
  --margin-left: -20%;
  --margin-right: 0%;
  --scale-origin: right;
  --float: right;
  --img-left: auto;
  --img-right: 0;

  display: flex;
  margin: 8em auto;
  max-width: 1000px;
  justify-content: var(--flex);
  position: relative;

  &__card {
    display: flex;
    flex-direction: column;
    width: 75%;
    z-index: 1;
  }

  &__infos {
    background-color: var(--clr-secondary);
    border-radius: 5px;
    padding: 1.25em;
    box-shadow: 0 3px 20px rgba(black, 0.3);
  }

  &__title {
    text-align: var(--align);
    padding: 0.5em 2em;
    margin-inline: -2em;
    margin-bottom: 1em;
    border-radius: 3px;
    background-image: var(--gradient);
    color: var(--clr-secondary);
  }

  &__description {
    font-size: 1em;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: var(--clr-primary);
    border-bottom: 1.5px solid rgb(215, 215, 215);
    // border: 1px solid red;
  }

  &__detail {
    color: var(--clr-primary);
    margin-bottom: 4px;
    // border: 1px solid red;
    // white-space: pre-wrap;
  }

  &__mobile-img {
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(black, 0.3);
    display: none;
  }

  &__badges {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .badge {
      height: 1.65em;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: var(--flex);

    .button_card {
      text-decoration: none;
      text-align: center;
      color: var(--clr-primary);
      border: none;
      background-color: var(--clr-secondary);
      padding: 0.45em 1em;
      margin-block: 1em;
      border-radius: 3px;
      transition: color 300ms ease;
      box-shadow: 0 3px 20px rgba(black, 0.3);

      &--first {
        margin-right: 1em;
      }

      &:hover,
      &:focus {
        background-image: var(--gradient);
        color: var(--clr-secondary);
      }
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    margin-top: -35px;
    position: absolute;
    left: var(--img-left);
    right: var(--img-right);
    filter: blur(1px) brightness(0.5);
    transition: 0.4s ease;
    height: auto;
    overflow: visible;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(black, 0.3);

    &:hover {
      z-index: 1;
      filter: brightness(1) blur(0);
      background: none;
      transform: scale(1.2);
      transform-origin: var(--scale-origin);
    }
  }

  &--right {
    --flex: flex-end;
    --align: end;
    --margin-left: 0%;
    --margin-right: -20%;
    --scale-origin: left;
    --img-left: 0;
    --img-right: auto;
  }
}

@media (max-width: 770px) {
  .project {
    &__img {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 680px) {
  .project {
    margin: 4em auto;
    &__card {
      width: 100%;
    }

    &__mobile-img {
      display: block;
    }

    &__img {
      display: none;
    }
  }
}
