.project {
  --flex: flex-start;
  --align: start;
  --order: 0;

  display: flex;
  gap: 40px;
  margin: 100px auto;
  max-width: 900px;

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 2;
  }

  &__infos {
    background-color: var(--clr-secondary);
    border-radius: 5px;
    padding: 20px;
    padding-top: 70px;
    box-shadow: 0 3px 20px rgba(black, 0.3);
  }

  &__title {
    text-align: var(--align);
    text-transform: uppercase;
    padding: 0.5em 2em;
    position: absolute;
    border-radius: 3px;
    top: 15px;
    left: -2%;
    //   background-color: #2388ca;
    background-image: var(--gradient-blue);
    width: 104%;
    color: var(--clr-secondary);
  }

  &__badges {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .badge {
      height: 1.65em;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: var(--flex);

    .button_card {
      border: 0;
      background-color: var(--clr-secondary);
      padding: 0.45em 1em;
      margin-block: 1em;
      border-radius: 3px;
      transition: color 300ms ease;
      box-shadow: 0 3px 20px rgba(black, 0.3);

      &--first {
        margin-right: 1em;
      }

      &:hover,
      &:focus {
        background-image: var(--gradient-blue);
        color: var(--clr-secondary);
      }
    }
  }

  &__img {
    order: var(--order);
    max-width: 300px;
    z-index: 1;
    overflow: hidden;
    flex: 4;
    overflow: visible;
    // background-color: red;
    img {
      border-radius: 3px;
      object-fit: cover;
      overflow: hidden;
      // height: 100%;
      width: 100%;
      box-shadow: 0 3px 20px rgba(black, 0.3);
    }
  }

  &--right {
    --flex: flex-end;
    --align: end;
    --order: -1;
  }
}
