:root {
  font-family: "Mulish", sans-serif;

  --container-max-width: 1250px;

  --clr-dark: #202124;
  --clr-light: white;
  --clr-detail-3: rgb(128, 188, 252);
  --clr-detail-2: #1b557b;
  --clr-detail-1: #0376c2;
  // --clr-detail: #004777

  --clr-mongodb : #47A248;
  --clr-express : #333;
  --clr-react : #61DAFB;
  --clr-node : #339933;
  --clr-postman : #FF6C37;
  --clr-git: #F05032;
  --clr-sass: #CC6699;
  --clr-heroku: #430098;
  --clr-netlify: #00C7B7;
  --clr-vsc: #007ACC;

  --margin-inline: 1.25em;
  --padding-1 : 0.625em;
  --padding-2 : 1.25em;
  --padding-3 : 3em;

  --gradient-blue: linear-gradient(45deg, #81bbe1, #62aada, #4299d2, #2388ca, #0376c2, #0f669f);
  
  --fw-black: 900;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-thin: 200;
}

@keyframes gradient-bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.page {
  min-height: 100vh;
  background-color: white;
}

.container {
  width: min(100% - (var(--margin-inline) * 2), var(--container-max-width));
  margin: 0 auto;
}

.button {
  border: transparent;
  background-color: transparent;
  border-radius: 4px;
  font-size: 1.35em;
  font-weight: var(--fw-bold);
  padding: 0.2em 0.6em;
  white-space: nowrap;
}



.header {
  backdrop-filter: brightness(80%) blur(5px);
  background-color: var(--clr-dark);
  // border: 3px solid red;

  &__wrapper {
    // border: 3px solid red;
    margin-inline: var(--margin-inline);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 50px;
    margin-block: 15px;
  }

  .nav {
    display: flex;
    gap: 15px;
    align-items: center;

    &__github {
      height: 35px;
    }

    &__button {
      background-color: white;
     

      .text {
        background-image: var(--gradient-blue);
        background-clip: text;
        color: transparent;
      }
    }
  }
}

.hero {
  background: linear-gradient(to top, #3e3e41, var(--clr-dark));
  background-size: contain;
  padding-block: 3em 5em;

  /* background: linear-gradient(to right bottom, var(--clr-dark), rgb(67, 67, 67)); */
  // height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  // margin-bottom: -5vw;

  &__name {
    font-size: 5em;
    font-weight: var(--fw-regular);
    color: white;
  }
  &__dev {
    font-size: 2.5em;
    width: fit-content;
    color: var(--clr-detail-3);
    font-weight: var(--fw-thin);

    animation: gradient-bg-animation 5s infinite alternate;
    background-image: var(--gradient-blue);
    background-size: 300%;
    background-clip: text;
    color: transparent;
  }

  &__text {
    margin-top: 1em;
    color: white;
    width: 60%;
    font-size: 0.95em;
    // border: 3px solid red;
  }
}

.about {
  // border: 2px solid blue;
  &__wrapper {
    // border: 2px solid red;
    padding: var(--padding-2);
  }

  &__text {
    // border:3px solid red;
    margin-block: 20px;
    text-align: justify;
    color: var(--clr-dark);
    // width: 60%;
    font-size: 1.05em;
  }
  &__technologies{
    display: flex;
    justify-content: center;
    gap: var(--padding-3);
    padding-block: 1em;
    
    .mern{
      display: flex;
      flex-direction: column;
      align-items: center;    

      &__logo{
        margin-bottom: 5px;
        height: 60px;
        padding: var(--padding-1);
        border:3px solid black;
        border-radius: 50%;

        &--mongodb{
          border-color: var(--clr-mongodb);
          fill : var(--clr-mongodb);
        }

        &--express{
          border-color: var(--clr-express);
          fill : var(--clr-express);
        }

        &--react{
          border-color: var(--clr-react); 
          fill : var(--clr-react); 
        }

        &--node{
          border-color: var(--clr-node);
          fill : var(--clr-node);
        }
      }
    }

    .tools{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      text-align: center;
      // border:3px solid black;

      &__logo{
        margin-bottom: 10px;
        width: 50px;
        // height: 70px;
        // padding: var(--padding-1);
       
        &--git{      
          fill : var(--clr-git);
        }

        &--visual{
          fill : var(--clr-vsc);
        }

        &--sass{
          fill : var(--clr-sass); 
        }

        &--heroku{
          fill : var(--clr-heroku);
        }

        &--postman{
          fill : var(--clr-postman);
        }

        &--netlify{
          fill : var(--clr-netlify);
        }
      }
    }
  }
}

.projects {
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
  // margin-top: 5vw;
  border: 4px solid pink;
  background: linear-gradient(to top, #3e3e41, var(--clr-dark));
  background-size: contain;
  padding-block: calc( 5vw + 3em) 5em;
  border:3px solid green;

  &__title{
    color: white
  }

}
