:root {
  font-family: "Mulish", sans-serif;

  --container-max-width: 1250px;

  --clr-primary: #202124;
  --clr-secondary: white;

  --clr-mongodb: #47a248;
  --clr-express: #333;
  --clr-react: #61dafb;
  --clr-node: #339933;
  --clr-postman: #ff6c37;
  --clr-git: #f05032;
  --clr-sass: #cc6699;
  --clr-heroku: #430098;
  --clr-netlify: #00c7b7;
  --clr-vsc: #007acc;

  --margin-inline: 1.25em;
  --padding-1: 0.625em;
  --padding-2: 1.25em;
  --padding-3: 3em;

  --gradient: linear-gradient(45deg, #c681e1, #066db1);

  --fw-black: 900;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-thin: 200;
}

@keyframes gradient-bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

h3{
  position: relative;
  font-size: 1.25em;
  width: fit-content;
  padding-bottom: 0.25em;
  margin-bottom: 2em;

  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10%;
    transform: skew(-30deg);
    left:0;
    bottom: 0;
    background-image: var(--gradient);
  }
}

.page {
  min-height: 100vh;
  background-color: var(--clr-secondary);
}

.container {
  width: min(100% - (var(--margin-inline) * 2), var(--container-max-width));
  margin: 0 auto;
}

.button {
  background-color: transparent;
  font-size: 1em;
  padding: 0.35em 1em;
  font-weight: var(--fw-bold);
  white-space: nowrap;
  cursor: pointer;

  &:active {
    transform: scale(1.025);
  }
}

section{
  // border:2px solid green;
}

.header {
  z-index: 1;
  // backdrop-filter: brightness(80%) blur(5px);
  background-color: var(--clr-primary);
  transition: transform 200ms ease;
  transform: translateY(0);
  // border: 3px solid red;
  // transform: translateY(-200px);

  &.sticked{
    --clr-primary : white;
    --clr-secondary : #202124;

    padding: 10px 0;
    justify-content: end;
    align-items: flex-end;

    
    // box-shadow: 0px 2px 6px 4px var(--clr-primary);
    box-shadow: 0 3px 20px rgba(#202124,0.2); 
    // background-color: white;
    position: sticky;
    top:-200px;
    transform: translateY(200px);

    img{
      filter: brightness(0.25);
    }

    .header__wrapper{
      justify-content: flex-end;
    }
    .header__logo{
      display: none;
    }


  }

  &__wrapper {
    // border: 3px solid red;
    margin-inline: var(--margin-inline);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 50px;
    margin-block: 15px;    
  }

  .nav {
    display: flex;
    gap: 15px;
    align-items: center;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border:1px solid var(--clr-primary);
      cursor: pointer;
      transition: transform 200ms ease;
     
      &--github {
        .logo{
          color:var(--clr-secondary);
          height: 30px;
        }
      }

      &--contact {
        background-color: var(--clr-secondary);
        .logo{
          color:var(--clr-primary);
          height: 18px;
        }
      }

      &:hover,&:focus{
        transform: translateY(-2px);
      }
    }


    &__button {
      cursor: pointer;
      background-size: 400%;
      background-position: right;
      transition: background-size 600ms;
      border: 2px solid transparent;
      border-image: var(--gradient);
      border-image-slice: 1;

      .text {   
        background-image: var(--gradient);
        background-clip: text;
        color: transparent;
        // color:var(--clr-secondary);
      }

      &:hover,
      &:focus{
        background-position: left;
        background-image: var(--gradient);
        border-color: white;
        background-size: 100%;
       
        .text {
          
          color:white;
        }
      }
    }
  }
}

.hero {
  background: linear-gradient(to top, #3e3e41, var(--clr-primary));
  background-size: contain;
  padding-block: 3em 5em; 
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  // margin-bottom: -5vw;

  &__name {
    font-size: 5em;
    font-weight: var(--fw-regular);
    color: var(--clr-secondary);
  }
  &__dev {
    font-size: 2.5em;
    width: fit-content;
    font-weight: var(--fw-thin);

    animation: gradient-bg-animation 5s infinite alternate;
    background-image: var(--gradient);
    background-size: 300%;
    background-clip: text;
    color: transparent;
  }

  &__text {
    margin-top: 1em;
    color: var(--clr-secondary);
    width: 60%;
    font-size: 0.95em;
    // border: 3px solid red;
  }
}

.about {
  
  &__wrapper {
    // border: 2px solid red;
    // padding: var(--padding-2);
    padding-block: 2em;
  }

  &__text {
    // border:3px solid red;
    margin-block: 20px;
    text-align: justify;
    color: var(--clr-primary);
    // width: 60%;
    font-size: 1.05em;
  }
  &__technologies {
    display: flex;
    justify-content: center;
    gap: var(--padding-3);
    padding-block: 1em;

    .mern {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__logo {
        margin-bottom: 5px;
        height: 60px;
        padding: var(--padding-1);
        border: 3px solid black;
        border-radius: 50%;

        &--mongodb {
          border-color: var(--clr-mongodb);
          fill: var(--clr-mongodb);
        }

        &--express {
          border-color: var(--clr-express);
          fill: var(--clr-express);
        }

        &--react {
          border-color: var(--clr-react);
          fill: var(--clr-react);
        }

        &--node {
          border-color: var(--clr-node);
          fill: var(--clr-node);
        }
      }
    }

    .tools {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      text-align: center;
      // border:3px solid black;

      &__logo {
        margin-bottom: 10px;
        width: 50px;
        // height: 70px;
        // padding: var(--padding-1);

        &--git {
          fill: var(--clr-git);
        }

        &--visual {
          fill: var(--clr-vsc);
        }

        &--sass {
          fill: var(--clr-sass);
        }

        &--heroku {
          fill: var(--clr-heroku);
        }

        &--postman {
          fill: var(--clr-postman);
        }

        &--netlify {
          fill: var(--clr-netlify);
        }
      }
    }
  }
}

.projects {
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
  // margin-top: 5vw;
  // border: 4px solid pink;
  background: linear-gradient(to top, #3e3e41, var(--clr-primary));
  background-size: contain;
  padding-block: calc(5vw + 3em) 2em;
  // border:3px solid green;

  &__wrapper {
    // border: 3px solid red;
  }
  &__title {
    color: var(--clr-secondary);
  }
}
